<div class='logo'>
	<h1>Time Tracker</h1>
</div>

<ul class="custom-nav nav nav-tabs">
	<li class="active">
		<%= link_to "Home", root_path %>
	</li>
	<li>
		<%= link_to "Time Entries", posts_path %>
	</li>
	<li class="dropdown pull-right">
		 <a href="#" data-toggle="dropdown" class="dropdown-toggle">Account<strong class="caret"></strong></a>
		<ul class="dropdown-menu">
			<li>
				<%= link_to "Edit Details", edit_user_registration_path %>
			</li>
			<li class="divider">
			</li>
			<li>
				<%= link_to "Logout", destroy_user_session_path, method: :delete %>
			</li>
		</ul>
	</li>
</ul>