<div class='container-fluid'>
	<div class='pending-homepage row'>
		<div class='homepage-block col-md-3'>
			<p>asdf</p>
		</div>

		<div class='homepage-block col-md-3'>
			<p>asdf</p>
		</div>

		<div class='homepage-block col-md-3'>
			<p>asdf</p>
		</div>

		<div class='homepage-block col-md-3'>
			<p>asdf</p>
		</div>

		<div class='homepage-block col-md-3'>
			<p>asdf</p>
		</div>
	</div>

	<div class='pending-homepage'>
		<div>
			<p>asdf</p>
		</div>
	</div>
</div>