// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.index-icons {
	font-size: 1.5em;
}

.index-icons:hover {
	text-decoration: none;
	color: black;
}